*{
	font-family:  "Roboto", sansserif;
}

h1,h2{
	font-family:  "Montserrat", sans-serif;
}

img {
	height: 250px;
	widows: 250px;
	border-radius: 500px;
}

#landing{
	height: 80vh;
	display: flex;
	flex-direction: column ;
	justify-content: center;
	align-items: center;
}
.jumbotron{
	background-color: transparent;
}

#gallery{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 75vh;
	border-radius: 6px;
}

ul{
	list-style: none;
	padding: 0;

}

h2{
	color: #007BFF;
}

.tools{
	/*spaces that we have*/
	padding: 25px;
	height: 200px;
	border: 5px solid #f2f2f2;
	margin: 20px;
	color: white;
	widows: 75%;


}

html{
	scroll-behavior: smooth;
}